<h2>Your picks</h2>
  <% @ordered_items.each do |item| %>
    <div class="addedFoodDiv"> 
    <%= item.item.name %>
    <%= item.item.description %>
    <%= item.item.price %> 
    </div>
    <% @totalprice += item.item.price %>
  <% end %>
<div class="totalprice"><%= @totalprice %></div>