<nav>
  <h1>GRETA'S GREENS</h1>
  <div>
    <%= link_to 'Menu', root_path, class: 'navbar-brand' %>
    <%= link_to 'Signup', root_path, class: 'navbar-brand' %>
    <%= link_to 'Login', root_path, class: 'navbar-brand' %>
  </div>
</nav>